/* ROBOTO MEDIUM */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* ROBOTO REGULAR */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* RUBIK BOLD */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* RUBIK MEDIUM */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* RUBIK REGULAR */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* BLOCKS */
/* GLOBAL */
:root {
  --primary-bg-color: #fff;
  --main-bg-color: #f6f6f6;
  --navbar-text-color: #515151;
  --secondary-bg-color: #295093;
  --text-color: #000;
  --footer-color: #fff;
  --accent-color: #285193;
  --accent-dark: #133c82;
  --primary-font-family: "Rubik", "Arial", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px dashed black;
  outline-offset: 3px;
}

img {
  display: block;
}

body {
  height: 100%;
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding: 22px 0 38px;
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  background-color: var(--primary-bg-color);
  border: none;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}

/* TEG SUB BUTTON */
.tg-btn {
  padding: 9px 12px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.4s ease;
}

/* RETINA DISPLAY */
/* SITE HEADER */
.site-header {
  border-top: 4px solid var(--secondary-bg-color);
  background-color: var(--main-bg-color);
}

.site-header__top {
  padding: 36px 0 40px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .site-header__top {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 768px) {
  .site-header__top {
    justify-content: space-between;
  }
}

/* LOGO */
.site-header__logo {
  margin-right: 17px;
}
@media only screen and (max-width: 992px) {
  .site-header__logo {
    margin-right: auto;
  }
}
@media only screen and (max-width: 768px) {
  .site-header__logo {
    margin-right: 15px;
  }
}

.logo {
  padding: 3px 7px;
  border-radius: 5px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  display: flex;
}
@media only screen and (max-width: 768px) {
  .logo {
    padding: 2px 5px;
  }
}

.logo__img {
  width: 100%;
  max-width: 306px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 768px) {
  .logo__img {
    max-width: 250px;
  }
}
@media only screen and (max-width: 576px) {
  .logo__img {
    max-width: 210px;
  }
}

/* CURRENCY RATES */
.currency-rates {
  display: flex;
  align-items: center;
  margin-right: auto;
}
@media only screen and (max-width: 992px) {
  .currency-rates {
    display: none;
  }
}

.currency-rates__item:not(:last-child) {
  margin-right: 15px;
}

.currency-rates__bolder-text {
  color: var(--accent-color);
}

/* SEARCH BUTTON */
.search-button {
  padding: 8px;
  margin-right: 22px;
}
@media only screen and (max-width: 768px) {
  .search-button {
    display: none;
  }
}

.search-button__inner {
  background: url("../images/icon-magnifier.svg") no-repeat center;
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* LANGUAGE TOGGLE */
.language-toggler {
  margin-right: 22px;
  padding: 10px 7px;
  padding-left: 11px;
}
@media only screen and (max-width: 768px) {
  .language-toggler {
    display: none;
  }
}

.language-toggler__inner {
  display: flex;
  align-items: center;
}
.language-toggler__inner::before {
  content: "";
  display: inline-block;
  background: url("../../images/flag-russia.svg") no-repeat center;
  background-size: contain;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

/* SITE TELEGRAM LINK */
.site-header__link {
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .site-header__link {
    display: none;
  }
}
.site-header__link:hover {
  background: linear-gradient(270deg, #1E96C8 15.07%, #37AEE2 85.96%);
}

.site-header__link-inner {
  display: flex;
  align-items: center;
}
.site-header__link-inner::before {
  content: "";
  display: inline-block;
  background: url("../images/icon-telegram-white.svg") no-repeat center;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

/* SITE HEADER TOGGLER */
.site-header__toggler {
  display: none;
  border: none;
  padding: 12px;
  position: relative;
  z-index: 26;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
@media only screen and (max-width: 768px) {
  .site-header__toggler {
    display: block;
  }
}
@media only screen and (max-width: 576px) {
  .site-header__toggler {
    padding: 10px;
  }
}

/* SITENAV */
.sitenav {
  background-color: var(--primary-bg-color);
  padding: 15px 12px;
  border-radius: 5px;
  transition: transform 0.4s ease, width 0.4s ease;
}
@media only screen and (max-width: 768px) {
  .sitenav {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 25;
    transform: translate(100%);
    height: 100%;
    padding: 82px 25px 0 15px;
    background-color: var(--primary-bg-color);
    box-shadow: -7px 0 10px rgba(0, 0, 0, 0.2);
    width: 65%;
  }
}
@media only screen and (max-width: 576px) {
  .sitenav {
    width: 80%;
  }
}

.sitenav--open {
  transform: translate(0);
  transition: transform 0.4s ease;
}

.sitenav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 19px;
  line-height: normal;
}
@media only screen and (max-width: 992px) {
  .sitenav__list {
    font-size: 17px;
  }
}
@media only screen and (max-width: 768px) {
  .sitenav__list {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.sitenav__item {
  margin: 5px 12px;
}
@media only screen and (max-width: 992px) {
  .sitenav__item {
    margin: 3px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .sitenav__item {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid var(--accent-color);
  }
}

.sitenav__link {
  color: var(--navbar-text-color);
}
.sitenav__link:hover {
  color: var(--accent-color);
}

/* SITE HEADER ADS */
.site-header-ads {
  padding: 20px 0;
}
@media only screen and (max-width: 768px) {
  .site-header-ads {
    display: none;
  }
}

.site-header-ads__img {
  max-width: 1200px;
  width: 100%;
  height: auto;
}

.covid-info {
  display: flex;
  align-items: center;
  color: var(--text-color);
  background-color: var(--main-bg-color);
  padding: 30px 35px;
  border-radius: 5px;
}
@media only screen and (max-width: 992px) {
  .covid-info {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  .covid-info {
    flex-direction: column;
  }
}
.covid-info::before {
  content: "";
  display: inline-block;
  background: url("../../images/icon-covid.png") no-repeat center/contain;
  background-size: contain;
  width: 43px;
  height: 45px;
  margin-right: 25px;
}
@media only screen and (max-width: 768px) {
  .covid-info::before {
    margin-right: 0;
  }
}

.covid-info__heading {
  font-weight: 500;
  margin-right: 60px;
  font-size: 20px;
  max-width: 234px;
  line-height: normal;
}
@media only screen and (max-width: 992px) {
  .covid-info__heading {
    max-width: none;
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  .covid-info__heading {
    margin-top: 15px;
    text-align: center;
  }
}

.covid-info__list {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
@media only screen and (max-width: 992px) {
  .covid-info__list {
    width: 100%;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .covid-info__list {
    flex-direction: column;
  }
}

.covid-info__item {
  padding: 0 24px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-left: 2px solid #f4ccd1;
}
@media only screen and (max-width: 768px) {
  .covid-info__item {
    width: 100%;
    border: none;
    padding: 15px 0;
    border-bottom: 2px solid #f4ccd1;
  }
}
.covid-info__item::before {
  content: "";
  display: inline-block;
  background: no-repeat center/contain;
  background-size: contain;
  width: 38px;
  height: 40px;
  margin-right: 18px;
}
.covid-info__item--enfected {
  border-left-color: #eb5569;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (max-width: 992px) {
  .covid-info__item--enfected {
    border-left: none;
  }
}
.covid-info__item--enfected::before {
  background-image: url("../images/icon-enfection.svg");
}
.covid-info__item--recovered::before {
  background-image: url("../images/icon-smile.svg");
}
.covid-info__item--dead::before {
  background-image: url("../images/icon-no.svg");
}

.covid-info__title {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  margin-bottom: 5px;
}

.covid-info__bold-text {
  font-size: 25px;
  line-height: normal;
  font-weight: 500;
}

/* SITE-FOOTER */
.site-footer {
  color: var(--footer-color);
  background-color: var(--secondary-bg-color);
}
.site-footer *:focus {
  outline-color: var(--footer-color);
}

/* SITE FOOTER TOP */
.site-footer__top {
  padding: 20px 0 17px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--accent-dark);
}
@media only screen and (max-width: 768px) {
  .site-footer__top {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 576px) {
  .site-footer__top {
    flex-direction: column;
    align-items: center;
  }
}

/* SITE-FOOTER LOGO */
.site-footer__logo {
  display: inline-block;
  padding: 8px 10px;
  background-color: var(--accent-dark);
  border-radius: 5px;
  margin-right: auto;
}
@media only screen and (max-width: 576px) {
  .site-footer__logo {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.site-footer__logo-img {
  max-width: 173px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.site-footer__sub-text {
  font-size: 14px;
  padding: 0 24px;
  line-height: normal;
  margin-right: 15px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .site-footer__sub-text {
    order: 1;
    width: 100%;
    padding: 0;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .site-footer__sub-text {
    margin-bottom: 15px;
    text-align: center;
    width: auto;
  }
}

/* SITE-FOOTER LINK */
.site-footer__link {
  color: var(--secondary-bg-color);
  background-color: var(--primary-bg-color);
}
@media only screen and (max-width: 576px) {
  .site-footer__link {
    order: 1;
  }
}

.site-footer__link-inner {
  display: flex;
  align-items: center;
}
.site-footer__link-inner::before {
  content: "";
  display: inline-block;
  background: url("../images/icon-telegram-blue.svg") no-repeat center;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

/* SITE FOOTER BOTTOM */
.site-footer__bottom {
  padding: 12px 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.5;
}
@media only screen and (max-width: 576px) {
  .site-footer__bottom {
    flex-direction: column;
  }
}

/* SITE FOOTER INFO */
.site-footer__info {
  margin-right: 110px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 992px) {
  .site-footer__info {
    order: 1;
    width: 100%;
    max-width: none;
  }
}

.info-footer {
  max-width: 365px;
}
@media only screen and (max-width: 992px) {
  .info-footer {
    max-width: none;
  }
}

.info-footer__heading {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
}

/* SITE FOOTER NAV */
.site-footer__nav {
  font-weight: 500;
}
@media only screen and (max-width: 576px) {
  .site-footer__nav {
    margin-bottom: 25px;
  }
}
.site-footer__nav:not(:last-child) {
  margin-right: 115px;
  margin-bottom: 35px;
}
@media only screen and (max-width: 576px) {
  .site-footer__nav:not(:last-child) {
    margin-right: 0;
    margin-bottom: 35px;
  }
}

.site-footer__nav-item:not(:last-child) {
  margin-bottom: 10px;
}

.site-footer__nav-link {
  color: var(--footer-color);
}/*# sourceMappingURL=main.css.map */