/* ARTICLE */
.article {
  max-width: 794px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--main-bg-color);

  @media only screen and (max-width: $tablet-l) {
    max-width: none;
  }
}

.article__heading {
  font-size: 24px;
  line-height: normal;
  margin: 0;
  margin-bottom: 13px;
  font-weight: 500;
  color: var(--text-color);
}

.article__time {
  color: var(--time-color);
  font-size: 14px;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  
  @media only screen and (max-width: $tablet) {
    font-size: 13px; 
  }

  &::before {
    display: inline-block;
    content: "";
    background: url("../images/icon-calendar.svg") no-repeat center / contain;
    width: 18px;
    height: 20px;
    margin-right: 2px;
  }
}

.article__img {
  width: 100%;
  height: auto;
  margin-bottom: 17px;
}

.article__content {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 35px;

  p {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  b {
    font-weight: 500;
  }

  i {
    font-style: italic;
  }
}

/* ARTICLE TAGS */
.article__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.article__tags-item {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  margin: 3px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}