/* SITE HEADER */
.site-header {
  border-top: 4px solid var(--secondary-bg-color);
  background-color: var(--main-bg-color);

  @media only screen and (max-width: $tablet) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  }
}

.site-header__top {
  padding: 36px 0 40px;
  display: flex;
  align-items: center;


  @media only screen and (max-width: $tablet-l) {
    padding: 20px 0;
  }

  @media only screen and (max-width: $tablet) {
    justify-content: space-between;
  }

  @media only screen and (max-width: $mobile) {
    padding: 15px 0;
  }
}

/* LOGO */
.site-header__logo {
  margin-right: 17px;

  @media only screen and (max-width: $tablet-l) {
    margin-right: auto;
  }

  @media only screen and (max-width: $tablet) {
    margin-right: 15px;
  }
}

.logo {
  padding: 3px 7px;
  border-radius: 5px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  display: flex;


  @media only screen and (max-width: $tablet) {
    padding: 2px 5px;
  }

}

.logo__img {
  width: 100%;
  max-width: 306px;
  object-fit: contain;

  @media only screen and (max-width: $tablet) {
    max-width: 250px;
  }

  @media only screen and (max-width: $mobile) {
    max-width: 210px;
  }
}

/* CURRENCY RATES */
.currency-rates {
  display: flex;
  align-items: center;
  margin-right: auto;

  @media only screen and (max-width: $tablet-l) {
    display: none;
  }
}

.currency-rates__item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.currency-rates__bolder-text {
  color: var(--accent-color);
}

/* SEARCH BUTTON */
.btn-toggler {
  background-color: var(--primary-bg-color);
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-button {
  padding: 8px;
  margin-right: 22px;

  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

.search-button__inner {
  background: url("../images/icon-magnifier.svg") no-repeat center;
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* LANGUAGE TOGGLE */
.language-toggler {
  margin-right: 22px;
  padding: 10px 7px;
  padding-left: 11px;

  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

.language-toggler__inner {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    background: url("../../images/flag-russia.svg") no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }
}

/* SITE TELEGRAM LINK */
.site-header__link {
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  color: #fff;

  @media only screen and (max-width: $tablet) {
    display: none;
  }

  &:hover {
    background: linear-gradient(270deg, #1E96C8 15.07%, #37AEE2 85.96%);
  }
}

.site-header__link-inner {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    background: url("../images/icon-telegram-white.svg") no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }
}

/* SITE HEADER TOGGLER */
.site-header__toggler {
  display: none;
  border: none;
  padding: 12px;
  position: relative;
  z-index: 26;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  // box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);

  @media only screen and (max-width: $tablet) {
    display: block;
  }

  @media only screen and (max-width: $mobile) {
    padding: 10px;
  }
}


/* SITENAV */
.sitenav {
  background-color: var(--primary-bg-color);
  padding: 15px 12px;
  border-radius: 5px;
  margin-bottom: 23px;

  &:not(:last-child) {
    margin-bottom: 0;
  }

  @media only screen and (max-width: $tablet) {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 25;
    transform: translate(100%);
    height: 100%;
    padding: 82px 25px 0 15px;
    background-color: var(--primary-bg-color);
    box-shadow: -7px 0 10px rgba(0, 0, 0, 0.2);
    width: 65%;
    transition: transform .4s ease, width .4s ease;
  }

  @media only screen and (max-width: $mobile) {
    width: 80%;
  }
}

.sitenav--open {
  transform: translate(0);
  transition: transform .4s ease;
}

.sitenav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 19px;
  line-height: normal;

  @media only screen and (max-width: $tablet-l) {
    font-size: 17px;
  }


  @media only screen and (max-width: $tablet) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.sitenav__item {
  margin: 5px 12px;

  @media only screen and (max-width: $tablet-l) {
    margin: 3px 10px;
  }

  @media only screen and (max-width: $tablet) {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid var(--accent-color);
  }
}

.sitenav__link {
  color: var(--navbar-text-color);

  &--active {
    color: var(--accent-color);
  }

  &:hover {
    color: var(--accent-color);
  }
}

/* SITE HEADER ADS */
.site-header-ads {
  padding: 20px 0;


  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

.site-header-ads__img {
  max-width: 1200px;
  width: 100%;
  height: auto;
}